.login {
    background-image: url('../img/login-small.png');
    color: $white;
    font-family: "Roboto";

    @media (min-height: 551px) {
        .logo-row {
            font-family: "Righteous";
            font-size: 30px;
            padding-top: 100px;
            padding-bottom: 140px;
        }
    }

    @media (max-height: 551px) {
        .logo-row {
            font-family: "Righteous";
            font-size: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    form {
        input {
            background: rgba(255,255,255, 0.1);
            border: 2px solid rgba(255, 255, 255, 0.1);
            color: $white;
            font-size: 16px;
            height: 50px;
            margin: 10px 0px;
            padding: 0px 8px;
            transition: all .3s ease-in-out;
            width: 100%;

            &:focus {
                // background: rgba(255, 255, 255, 0.2);
                border: 2px solid rgba(255, 255, 255, 0.8);
            }

            &::placeholder {
                color: rgba(255, 255, 255, 0.3);
                font-size: 14px;
            }
        }

        .button {
            background: rgba(255,255,255, 0.7);
            border-radius: 5px;
            color: $primary;
            font-size: 18px;
        }
    }

    .sign-up-row {
        background: transparent;
        height: 50px;
        line-height: 50px;
        position: relative;
        text-align: center;
        width: 100%;


        div {
            font-size: 14px;

            span {
                color: #37b0ff;
            }
        }
    }
}
